<!DOCTYPE html>
<html  lang="ro" data-theme="light">
    <head>
        <meta name="description" content="Adapostul Pedro&Pandi!">
        <meta name="keywords" content="animale, adoptie">
        <link rel="stylesheet" href="/Resurse/css/animal.css" type="text/css" rel="stylesheet" />
        <title>Centrul Pedro&Pandi</title>
        <%- include("../fragmente/head") %>   
    </head>
    <body>

            <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagină animal</h2>
                <article id="art-animal">
                    <h3><span class="nume"><%- locals.ani.nume %></span></h3>
                    <p>Descriere: <span class="descriere"><%- locals.ani.descriere %> </span></p>
                    <p>Varsta: <span class="pret"><%- locals.ani.varsta %> </span></p>
                    <p>Categorie: <span class="categorie"><%- locals.ani.categorie %> </span></p>
                    <p>Data adăugare: <span class="data_adaugare"><%- locals.ani.data_adaugare %> </span></p>
                    <figure class="imag-animal">
                        <img  src="/Resurse/imagini/<%- locals.ani.imagine %>" alt="[imagine <%- locals.ani.nume %>]" />
                    </figure>    
                </article>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>