<!DOCTYPE html>
<html lang="ro">
<head>
  <title>Adopție Animale</title>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="adopție, cum adopt, animale spre adopție, pisici, câini, animale, donații, voluntariat, îngrijire animale, boli animale, îngrijire pisici, îngrijire câini, asociații, control animale, alimentație animale, ajutor animale, organizație.">
  <%- include("../fragmente/head.ejs") %>
</head>
<body>
  <a href="#top" class="scroll-to-top">&#8593;</a>
  <%- include("../fragmente/header.ejs") %>
  <main>
    <h1>Bine ai venit, IP-ul tău este: <%= ip %></h1>
    <%- include("../fragmente/galerie.ejs", { imagini: imagini }) %>
    <div id="grid-pagina">
      <section id="acasa">
        <h2 style="color: rgb(0, 0, 0);">Acasă</h2>
        <blockquote>
          <p>Viața unui animal e împărțită între a iubi și a-i învăța pe oameni să se iubească.</p>
        </blockquote>
        <p><b>Adoptă un animal astăzi și salvează o viață!</b></p>
        <p>Asociația noastră este destinată oamenilor care doresc să salveze un suflet!</p>
        <p></p>
        <p>Asociația noastră a fost fondată în 2021 de echipa de iubitori de animale. Am început inițial prin hrănirea animalelor de pe străzi, urmând ca mai apoi să începem un program de sterilizare cu ajutorul donațiilor primite de la prieteni. La un an distanță ne-am deschis și sediul actual, tot cu ajutorul donațiilor. Toată cauza noastră are la bază implicarea iubitorilor de animale care ne-au sprijinit pe tot parcursul călătoriei noastre și pe această cale le mulțumim!</p>
        <p></p>
        <p>Echipa noastră este formată momentan din 10 membri, 5 din foști voluntari care au dorit să lucreze în continuare cu noi.</p>
        
        <section id="anunturi">
          <h2><b>Anunțuri</b></h2>
          <p>Târgul anual va avea loc pe data de <s>18</s> <ins>20</ins> Martie 2025, ora 9:00!</p>
        </section>
        
        <section id="statistici">
          <h2>Statistici</h2>
          <p>În ultimii 3 ani am salvat peste 300 de animale, am sterilizat peste 1000 de animale, și am ajutat peste 200 de animale să-și găsească casa!</p>
        </section>
        
        <section id="faq">
          <h2>FAQ</h2>
          <details>
            <summary>Cât costă adopția unui animal?</summary>
            <p>Adopția în sine este gratuită, dar există o taxă administrativă de 50 lei care acoperă vaccinurile de bază, microciparea și sterilizarea animalului.</p>
          </details>
          <details>
            <summary>Ce documente sunt necesare pentru adopție?</summary>
            <p>Pentru a adopta un animal, ai nevoie de o copie după buletin/carte de identitate și va trebui să completezi un formular de adopție. În unele cazuri, putem efectua o vizită la domiciliu pentru a ne asigura că animalul va avea condiții bune.</p>
          </details>
          <details>
            <summary>Ce se întâmplă dacă nu mă pot adapta la animal?</summary>
            <p>Înțelegem că pot apărea situații neprevăzute. Te rugăm să ne contactezi înainte de a lua orice decizie. Putem oferi sfaturi pentru acomodare sau, în cazuri extreme, putem accepta returnarea animalului.</p>
          </details>
        </section>
      </section>
      
      <section id="adoptie-animale">
        <div style="position: relative; display: inline-block;">
          <div id="text">Adoptie Animale</div>
          <div id="text-reflectat">Adoptie Animale</div>
        </div>

        <div class="container-iframe">
  <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/XNl3umys7Oc" 
  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <div id="taburi-iframe">
    <a href="https://www.youtube.com/embed/XNl3umys7Oc" target="ifr-video">Pisici</a>
    <a href="https://www.youtube.com/embed/gcUHp8Wm7D0" target="ifr-video">Caini</a>
    <a href="https://www.youtube.com/embed/DpB7fA2Bi5U" target="ifr-video">Alte Animale</a>
  </div>
</div>
        <section id="pisici">
          <div class="pisici-container">
              <table class="styled-table">
                <caption>Lista completă a animalelor disponibile pentru adopție</caption>
                <thead>
                  <tr>
                    <th>Foto</th>
                    <th>Nume</th>
                    <th>Specie</th>
                    <th>Vârstă</th>
                    <th>Personalitate</th>
                    <th>Nivel Îngrijire</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="Resurse/Imagini/pedro.png" alt="Pedro" class="table-img"></td>
                    <td>Pedro</td>
                    <td>Pisică</td>
                    <td>2 ani</td>
                    <td>Jucăuș, energic</td>
                    <td>Mediu</td>
                  </tr>
                  <tr>
                    <td><img src="Resurse/Imagini/pandi.png" alt="Pandi" class="table-img"></td>
                    <td>Pandi</td>
                    <td>Pisică</td>
                    <td>3 ani</td>
                    <td>Liniștită, independentă</td>
                    <td>Ușor</td>
                  </tr>
                  <tr>
                    <td><img src="Resurse/Imagini/bob.png" alt="Bob" class="table-img"></td>
                    <td>Bob</td>
                    <td>Câine</td>
                    <td>6 ani</td>
                    <td>Prietenoș, lipicios</td>
                    <td>Mediu</td>
                  </tr>
                  <tr>
                    <td><img src="Resurse/Imagini/hector.png" alt="Hector" class="table-img"></td>
                    <td>Hector</td>
                    <td>Țestoasă</td>
                    <td>4 ani</td>
                    <td>Exploratoare, calmă</td>
                    <td>Ușor</td>
                  </tr>
                  <tr>
                    <td><img src="Resurse/Imagini/carpanicasicarpanel.png" alt="Carpanica și Carpanel" class="table-img"></td>
                    <td>Carpanica & Carpanel</td>
                    <td>Pisici (pereche)</td>
                    <td>1 an</td>
                    <td>Prietenoși, jucăuși</td>
                    <td>Ridicat</td>
                  </tr>
                  <tr>
                    <td><img src="Resurse/Imagini/titu.png" alt="Carpanica și Carpanel" class="table-img"></td>
                    <td>Titu</td>
                    <td>Pisici (pereche)</td>
                    <td>1 an</td>
                    <td>Prietenoși, jucăuși</td>
                    <td>Ridicat</td>
                  </tr>
                  <tr>
                    <td><img src="Resurse/Imagini/carpanicasicarpanel.png" alt="Carpanica și Carpanel" class="table-img"></td>
                    <td>Carpanica & Carpanel</td>
                    <td>Pisici (pereche)</td>
                    <td>1 an</td>
                    <td>Prietenoși, jucăuși</td>
                    <td>Ridicat</td>
                  </tr>
                  <tr>
                    <td><img src="Resurse/Imagini/carpanicasicarpanel.png" alt="Carpanica și Carpanel" class="table-img"></td>
                    <td>Carpanica & Carpanel</td>
                    <td>Pisici (pereche)</td>
                    <td>1 an</td>
                    <td>Prietenoși, jucăuși</td>
                    <td>Ridicat</td>
                  </tr>
                  <tr>
                    <td><img src="Resurse/Imagini/carpanicasicarpanel.png" alt="Carpanica și Carpanel" class="table-img"></td>
                    <td>Carpanica & Carpanel</td>
                    <td>Pisici (pereche)</td>
                    <td>1 an</td>
                    <td>Prietenoși, jucăuși</td>
                    <td>Ridicat</td>
                  </tr>
                  <tr>
                    <td><img src="Resurse/Imagini/carpanicasicarpanel.png" alt="Carpanica și Carpanel" class="table-img"></td>
                    <td>Carpanica & Carpanel</td>
                    <td>Pisici (pereche)</td>
                    <td>1 an</td>
                    <td>Prietenoși, jucăuși</td>
                    <td>Ridicat</td>
                  </tr>
                  <tr>
                    <td><img src="Resurse/Imagini/carpanicasicarpanel.png" alt="Carpanica și Carpanel" class="table-img"></td>
                    <td>Carpanica & Carpanel</td>
                    <td>Pisici (pereche)</td>
                    <td>1 an</td>
                    <td>Prietenoși, jucăuși</td>
                    <td>Ridicat</td>
                  </tr>
                  <tr>
                    <td><img src="Resurse/Imagini/carpanicasicarpanel.png" alt="Carpanica și Carpanel" class="table-img"></td>
                    <td>Carpanica & Carpanel</td>
                    <td>Pisici (pereche)</td>
                    <td>1 an</td>
                    <td>Prietenoși, jucăuși</td>
                    <td>Ridicat</td>
                  </tr>
                  <tr>
                    <td><img src="Resurse/Imagini/carpanicasicarpanel.png" alt="Carpanica și Carpanel" class="table-img"></td>
                    <td>Carpanica & Carpanel</td>
                    <td>Pisici (pereche)</td>
                    <td>1 an</td>
                    <td>Prietenoși, jucăuși</td>
                    <td>Ridicat</td>
                  </tr>
                  <tr>
                    <td><img src="Resurse/Imagini/carpanicasicarpanel.png" alt="Carpanica și Carpanel" class="table-img"></td>
                    <td>Carpanica & Carpanel</td>
                    <td>Pisici (pereche)</td>
                    <td>1 an</td>
                    <td>Prietenoși, jucăuși</td>
                    <td>Ridicat</td>
                  </tr>
                  <tr>
                    <td><img src="Resurse/Imagini/carpanicasicarpanel.png" alt="Carpanica și Carpanel" class="table-img"></td>
                    <td>Carpanica & Carpanel</td>
                    <td>Pisici (pereche)</td>
                    <td>1 an</td>
                    <td>Prietenoși, jucăuși</td>
                    <td>Ridicat</td>
                  </tr>
                  <tr>
                    <td><img src="Resurse/Imagini/carpanicasicarpanel.png" alt="Carpanica și Carpanel" class="table-img"></td>
                    <td>Carpanica & Carpanel</td>
                    <td>Pisici (pereche)</td>
                    <td>1 an</td>
                    <td>Prietenoși, jucăuși</td>
                    <td>Ridicat</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="1">*Nivel de îngrijire: Ușor (necesită minimă atenție), Mediu (necesită atenție moderată), Ridicat (necesită multă atenție)</td>
                  </tr>
                </tfoot>
              </table>
          </div>
        </section>
      </section>
      
          <section id="calendar">
      <h2>Calendar de evenimente</h2>
      <p>Acesta este un placeholder pentru calendarul de evenimente.</p>
    </section>
      
        <section id="date-site-server">
      <h2>Date despre site și server</h2>
      <p>Acesta este un placeholder pentru informațiile despre site și server.</p>
    </section>

        <section id="utilizatori-online">
      <h2>Utilizatori online</h2>
      <ul>
        <li>Utilizator 1</li>
        <li>Utilizator 2</li>
        <li>Utilizator 3</li>
      </ul>
    </section>
    
    <section id="anunturi">
      <h2>Anunțuri</h2>
      <p>Acesta este un placeholder pentru anunțuri.</p>
    </section>


      <section id="donatii">
        <h2 style="color: rgb(0, 0, 0);">Donații</h2>
        <p style="color: red;"><strong>Atenție!</strong> Donatorul trebuie să aibă peste <em>18 ani!</em></p>
        <section id="cumdonez">
          <h3>Cum donez?</h3>
          <p>Pentru a dona tot ce trebuie să faci este să fii conectat pe contul personal sau să îți creezi unul, apoi vei fi redirecționat către o pagină unde îți poți alege suma dorită!</p>
          <p>Totodată, poți dona și alimente/jucării/produse de îngrijire! Tot ce trebuie să faci este să ne contactezi pe mail cu câteva detalii despre produsele pe care vrei să le donezi și localitatea din care faci parte. După ce ai transmis mailul vei fi contactat în termen de maxim o săptămână de către staff-ul nostru!</p>
        </section>
      </section>
      
      <section id="voluntariat">
        <h2 style="color: rgb(0, 0, 0);">Voluntariat</h2>
        <p>Vrei să dai o mână de ajutor la unul din centrele noastre?</p>
        <p>Alătură-te aici zecilor de voluntari care salvează și îngrijesc animale zilnic. Cine știe, poate vei oferi chiar tu o casă unui mic suflet!</p>
        <section id="cumdevin">
          <h3>Cum devin voluntar?</h3>
          <p>Pentru a deveni voluntar trebuie mai întâi să-ți faci cont pe platforma noastră. Urmează ca mai apoi să primești un email cu mai multe detalii.</p>
        </section>
        <section id="ceface">
          <h3>Ce face un voluntar?</h3>
          <p>După ce parcurgi toate etapele înscrierii, ești <i>good to go</i>! Vei ajuta staff-ul și voluntarii centrelor la îngrijirea animalelor care intră în centru.</p>
        </section>
        <p>Îți lăsăm mai jos și un document cu rolurile unui voluntar și orele de voluntariat!</p>
        <object data="Resurse/PDF/voluntariat.pdf" type="application/pdf" width="100%" height="600px">
        </object>
      </section>
      
      <section id="informatii">
        <div id="stilizare-linkuri-etapa4">
          <p>Aveti mai jos un link informativ!</p>
          <a href="https://www.puppyco.ro">Link pentru mai multe detalii</a>
        </div>
        <h2 style="color: rgb(0, 0, 0);">Informații despre animale!</h2>
        <p>Ți-am pregătit mai jos un <a href="Resurse/PDF/ghid.pdf" download><b>ghid!</b></a></p>
        
        <details>
          <summary>Pisici</summary>
          <section id="pisiciinfo">
            <h3>O alimentație sănătoasă!</h3>
            <p>Asigură-te că micul tău animăluț are o dietă echilibrată!</p>
            <h3>Alimentație pisici:</h3>
            <ul>
              <li>
                Carne de pui (fără oase)
                <figure>
                  <div class="duotone-image">
                    <img src="Resurse/Imagini/gaina.jpg" alt="Carne de pui" class="img-mica">
                  </div>
                  <figcaption>Este o sursă excelentă de proteine pentru pisici.</figcaption>
                </figure>
              </li>
              <li>
                Carne de vită
                <figure>
                  <img src="Resurse/Imagini/vaca.jpg" alt="Carne de vită" class="img-mica">
                  <figcaption>Este o sursă excelentă de proteine pentru pisici.</figcaption>
                </figure>
              </li>
              <li>
                Pește
                <figure>
                  <img src="Resurse/Imagini/peste.jpg" alt="Pește" class="img-mica">
                  <figcaption>Bogat în acizi grași Omega-3, care sunt buni pentru piele și blană.</figcaption>
                </figure>
              </li>
              <li>
                Brânză
                <figure>
                  <img src="Resurse/Imagini/branza.jpg" alt="Brânză" class="img-mica">
                  <figcaption>Oferă proteine și calciu, dar este important să o dai cu moderație.</figcaption>
                </figure>
              </li>
            </ul>
            <p>Pentru mai multe informații legate de alimentația pisicilor vă rog să accesați acest <a href="https://agri.shop/alimentatia-pisicii-cat-trebuie-sa-manance-o-pisica-ce-alimente-sunt-permise-cum-servesti-hrana/" target="_blank"><b>link!</b></a></p>
            <p>Totodată, poți calcula câtă mâncare trebuie să-i dai pisicii tale, în funcție de greutatea acesteia cu formula de mai jos!
              <math xmlns="http://www.w3.org/1998/Math/MathML" display="block" class="formula">
                <mrow>
                  <mi class="rer">RER</mi>
                  <mo class="egal">=</mo>
                  <mn class="numar">70</mn>
                  <mo class="inmultire">×</mo>
                  <msup>
                    <mrow>
                      <mo class="paranteza">(</mo>
                      <mtext class="greutate">Greutatea în kg</mtext>
                      <mo class="paranteza">)</mo>
                    </mrow>
                    <mn class="exponent">0.75</mn>
                  </msup>
                </mrow>
              </math>              
            </p>
          </section>
          
          <section>
            <h3>Factori de risc</h3>
            <p>Te-ai întrebat vreodată ce riscuri poate întâmpina animăluțul tău?</p>
            <details>
              <summary>Alimentația necorespunzătoare</summary>
              <p>Hrana de slabă calitate sau lipsa unor nutrienți esențiali poate duce la probleme de sănătate.</p>
            </details>
            <details>
              <summary>Sedentarismul și obezitatea</summary>
              <p>Lipsa mișcării poate contribui la obezitate, diabet și afecțiuni articulare.</p>
            </details>
            <details>
              <summary>Lipsa vaccinării și deparazitării </summary>
              <p>Expunerea la boli infecțioase precum panleucopenia felină sau leucemia felină este mai mare la pisicile nevaccinate.</p>
            </details>
            <details>
              <summary>Expunerea la toxine</summary>
              <p>Plante toxice (ex. crinul), medicamente umane, produse de curățenie sau anumite alimente (ceapă, ciocolată) pot fi periculoase.</p>
            </details>
            <details>
              <summary>Stresul și anxietatea </summary>
              <p>Schimbările în mediu, zgomotele puternice sau lipsa interacțiunii pot cauza probleme comportamentale sau de sănătate.</p>
            </details>
            <p>Pe lângă toți factorii enumerați mai sus, este important de reținut că fiecare pisică poate fi predispusă la diferite probleme, deci este foarte important să vă duceți pisica la veterinar cât mai des posibil!</p>
          </section>
          
          <section>
            <h3>Boli care pot apărea de obicei</h3>
            <p>Vă prezentăm câteva boli comune care apar la pisici:</p>
            <details>
              <summary>Rinotraheita virală felină</summary>
              <p>O boală respiratorie comună, care provoacă strănut, secreții nazale și oculare, febră și letargie.</p>
            </details>
            <details>
              <summary><abbr title="Virusul imunodeficienței feline">FIV</abbr></summary>
              <p>Slăbește sistemul imunitar, făcând pisica vulnerabilă la alte infecții.</p>
            </details>
            <details>
              <summary>Giardia</summary>
              <p>O infecție intestinală care provoacă diaree și slăbiciune</p>
            </details>
            <details>
              <summary><abbr title="Boala tractului urinar inferior la pisici">FLUTD</abbr></summary>
              <p>Include infecții urinare, pietre la rinichi și cistită idiopatică, provocând urinare dureroasă sau sânge în urină.</p>
            </details>
            <details>
              <summary>Limfomul </summary>
              <p>Cel mai frecvent tip de cancer la pisici, poate afecta ganglionii limfatici, intestinele sau plămânii.</p>
            </details>
            <p>Pisicile tind să-și păstreze aceeași rutină, de aceea este foarte important ca atunci când observați schimbări la pisica dumneavoastră să o duceți cât mai rapid la un veterinar. Dacă aceasta devine letargică, mieunatul acesteia este mai des decât de obicei sau chiar dacă este mai anxioasă decât de obicei, șansele ca aceasta să aibă o problemă sunt foarte ridicate. Nu vă diagnosticați pisica singuri! Nu administrați medicamente pisicilor fără un tratament de la veterinar!</p>
          </section>
        </details>
        <div class="hr-cerc">
          <span class="cerc"></span>
        </div>
        <details>
          <summary>Câini</summary>
          <section id="cainiinfo">
            <h3>O alimentație sănătoasă!</h3>
            <p>Asigură-te că micul tău animăluț are o dietă echilibrată!</p>
            <h3>Alimentație câini:</h3>
            <ul>
              <li>
                Carne de vită
                <figure>
                  <img src="Resurse/Imagini/vaca2.jpg" alt="Carne de vită" class="img-mica">
                  <figcaption>Mai bogată în grăsimi și fier, oferă energie.</figcaption>
                </figure>
              </li>
              <li>
                Pește
                <figure>
                  <img src="Resurse/Imagini/peste2.jpg" alt="Pește" class="img-mica">
                  <figcaption>Bogat în acizi grași omega-3, bun pentru piele, blană și articulații.</figcaption>
                </figure>
              </li>
              <li>
                Morcovi 
                <figure>
                  <img src="Resurse/Imagini/cainecumorcov.jpg" alt="Morcov" class="img-mica">
                  <figcaption>Buni pentru vedere și sănătatea dinților.</figcaption>
                </figure>
              </li>
              <li>
                Mere
                <figure>
                  <img src="Resurse/Imagini/cainecumar.jpg" alt="Măr" class="img-mica">
                  <figcaption>Ajută la curățarea dinților și sunt o sursă bună de fibre.</figcaption>
                </figure>
              </li>
            </ul>
            <p>Pentru mai multe informații legate de alimentația câinilor vă rog să accesați acest <a href="https://agri.shop/alimentatia-cainelui-cum-il-hranesti-corect-in-functie-de-varsta-cat-de-des-tipuri-de-hrana-pentru-caini/" target="_blank"><b>link!</b></a></p>
            <p>Totodată, poți calcula câtă mâncare trebuie să-i dai câinelui tău, în funcție de greutatea acestuia cu formula de mai jos!
              <math xmlns="http://www.w3.org/1998/Math/MathML" display="block" class="formula">
                <mrow>
                  <mi class="rer">RER</mi>
                  <mo class="egal">=</mo>
                  <mn class="numar">70</mn>
                  <mo class="inmultire">×</mo>
                  <msup>
                    <mrow>
                      <mo class="paranteza">(</mo>
                      <mtext class="greutate">Greutatea în kg</mtext>
                      <mo class="paranteza">)</mo>
                    </mrow>
                    <mn class="exponent">0.75</mn>
                  </msup>
                </mrow>
              </math>              
            </p>
          </section>

          <section>
            <h3>Factori de risc</h3>
            <p>Te-ai întrebat vreodată ce riscuri poate întâmpina animăluțul tău?</p>
            <details>
              <summary>Obezitatea </summary>
              <p> Alimentația necorespunzătoare și lipsa exercițiului pot duce la boli cardiovasculare, diabet și probleme articulare.</p>
            </details>
            <details>
              <summary>Expunerea la temperaturi extreme </summary>
              <p>Căldura excesivă poate provoca insolație, iar frigul sever poate duce la hipotermie.</p>
            </details>
            <details>
              <summary>Stresul și anxietatea </summary>
              <p>Schimbările frecvente de mediu, lipsa stăpânului pentru perioade lungi sau zgomotele puternice (furtuni, artificii) pot cauza probleme de comportament.</p>
            </details>
            <details>
              <summary>Expunerea la toxine</summary>
              <p>Produse toxice precum ciocolata, ceapa, alcoolul, medicamentele umane sau substanțele chimice (antigel, pesticide) pot fi letale pentru câini.</p>
            </details>
            <details>
              <summary>Pericole în casă </summary>
              <p>Câinii pot înghiți obiecte mici, se pot răni la colțurile ascuțite sau pot intra în contact cu cabluri electrice.</p>
            </details>
            <p>Pe lângă toți factorii enumerați mai sus, este important de reținut că fiecare câine poate fi predispus la diferite probleme, deci este foarte important să vă duceți câinele la veterinar cât mai des posibil!</p>
          </section>
          
          <section>
            <h3>Boli care pot apărea de obicei</h3>
            <p>Vă prezentăm câteva boli comune care apar la câini:</p>
            <details>
              <summary>Parvoviroza</summary>
              <p> O boală virală extrem de contagioasă care afectează tractul gastrointestinal al câinelui, provocând diaree severă, vărsături și deshidratare.</p>
            </details>
            <details>
              <summary><abbr title="Infecțiile urinare">UTI</abbr></summary>
              <p>Acestea sunt comune și pot duce la simptome precum urinare frecventă sau dureroasă și sânge în urină.</p>
            </details>
            <details>
              <summary>Gastrita </summary>
              <p>Inflamația stomacului care provoacă vărsături, diaree și dureri abdominale.</p>
            </details>
            <details>
              <summary>Dermatitele alergice </summary>
              <p>Pot fi cauzate de alergii la anumite alimente, praf sau înțepături de purici și duc la mâncărimi și inflamații ale pielii.</p>
            </details>
            <details>
              <summary>Insuficiența cardiacă </summary>
              <p> Câinii mai vârstnici sau cei cu rase predispuse pot dezvolta probleme cu inima, care afectează circulația și pot duce la tuse, respirație rapidă și letargie.</p>
            </details>
            <p>Deși câinii nu tind să aibă o rutină anume, la fel ca la pisici, orice schimbare bruscă la câinele dumneavoastră ar trebui să vă ridice un semn de întrebare. Lătratul excesiv, semne de letargie și anxietatea ridicată sunt factori pe care nu îi puteți ignora, iar o intervenție veterinară este crucială.
            Nu vă diagnosticați câinele singuri! Nu administrați medicamente câinilor fără un tratament de la veterinar!
            </p>
          </section>
        </details>
      </section>
      <%- include("../fragmente/galerie-dinamica.ejs", { imagini: imagini }) %>
      <section id="contact">
        <h2 style="color: rgb(0, 0, 0);">Contact</h2>
        <p>Pentru informații adiționale, găsiți mai jos diferite metode de a ne contacta:</p>
        <p>Sună la <a href="tel:+40785285251">+40 785 285 251</a></p>
        <p>Trimite un email la <a href="mailto:ioana-anamaria.stoichita@s.unibuc.ro" target="_blank">ioana-anamaria.stoichita@s.unibuc.ro</a></p>
        <p>Contactează-ne pe <a href="https://web.whatsapp.com" target="_blank">Whatsapp</a></p>
        <p>Locația noastră: <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d978.559378000619!2d26.099817680946018!3d44.43549802421939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1741029375047!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
      </section>
    </div>
  </main>
  
  <%- include("../fragmente/footer.ejs") %>
  
</body>
</html> 